[2014-03-31 16:28] cgranade opened #5 "Build depends on missing examples?"
In trying to get the doc build working, I ran `make html` with an up-to-date Sphinx installation and got the following error:

[code]

The mentioned directory, `../qutip/` is the correct location for my local clone of qutip/qutip, but there doesn't seem to be an examples folder at all in qutip/qutip@a44a3c3faf9b67ab7dc1ed8ba8ba2af94c80d923. The only mention I can find of `ex_50.py` is in `README.t

[2014-04-01 02:45] #5 closed, assigned to nobody

[2014-11-21 06:45] Travis-S opened #14 "Unable to navigate back to QuTiP main page from docs"
The [QuTiP documentation page](http://qutip.org/docs/3.0.1/index.html) does not appear to have a convenient navigation bar link back to the main [QuTiP site](http://www.qutip.org).

[2014-12-19 05:19] #14 closed, assigned to nobody

[2016-03-01 02:10] ajgpitch opened #24 "Documentation for progress bars"
Documentation has been requested about using the progress bars in qutip/qutip#444.
@cgranade maybe you could look at this, as you did quite a lot of work on the web progress bar?

[2016-03-01 12:38] Phyks opened #25 "Outdated documentation on "Visualization of quantum states""
[This page](http://qutip.org/docs/3.1.0/guide/guide-visualization.html) refers to `qutip.visualization.wigner_cmap` which does not seem to be available (see https://github.com/qutip/qutip/blob/master/qutip/visualization.py).

I guess it should use the `plot_wigner` function instead?

[2016-03-03 04:08] nonhermitian opened #26 "Update and Simplify Installation Instructions"
Simply installation guide.  Default to Anaconda on all platforms.

[2016-03-03 04:09] nonhermitian opened #27 "Document Stochastic Module"

[2016-03-03 04:10] nonhermitian opened #28 "Document Control Module"

[2016-03-03 04:10] nonhermitian opened #29 "Document Non-Markovian Module"

[2016-03-03 04:12] nonhermitian opened #30 "Document Hierachical Module"

[2016-03-03 04:12] cgranade opened #31 "Document superoperator representations"

[2016-03-03 04:12] nonhermitian opened #32 "Document Reaction-Coordinate Module"

[2016-03-03 04:13] nonhermitian opened #33 "Document Continuous Variables, Countstat, and Distributions Modules"

[2016-03-03 04:19] cgranade commented on #31
Part of the new superoperator support is covered in ``guide_tensor.rst``, but there needs to be a much more complete guide to ``to_chi``, ``to_choi``, ``to_super`` and ``to_kraus``, as well as of the new ``superrep`` attribute.

[2016-03-03 05:13] cgranade commented on #31
- [ ] Explain Kraus, Choi and $\chi$ representations.
- [ ] Explain Pauli-Liouville Hinton diagrams.
- [ ] Give example of deriving $T_2$ process and representing as Liouvillian, plot measurements on $\sigma_x$ for Larmor precession.

[2016-03-03 06:49] cgranade opened #34 "Document random qobjs"
The new random Qobj functions `rand_ket_haar`, `rand_dm_hs`, `rand_dm_ginibre`, `rand_unitary_haar` and `rand_super_bcsz` need to be explained in the Guide as well as in the apidocs.

[2016-03-03 07:10] cgranade opened #36 "Document changed and new settings"

[2016-03-03 07:17] cgranade commented on #36
- [ ] Document new user-modifiable settings (``log_handler``, ``colorblind_safe``).
- [ ] Document new ``.qutiprc`` format, OS-dependent location.
- [ ] Document new unmodifiable settings (``fortran``, ``umfpack``, ``ipython``).

[2017-01-08 09:16] ajgpitch opened #43 "Bibliography crashes on build with docclass 'memoir'"
The latest conda version of sphinx 1.5.1 fails to build the latex documentation
Doesn't like any biblio entries.
[code]
Builds ok with sphinx 1.4.6
I think it's related to sphinx-doc/sphinx#2629
Anyway, I have tried with docclass 'manual', and ditching our preamble, and I think it looks better anyway.
@nonhermitian I am going to proceed this way unless anyone says that `memoir` is essential.

[2017-01-08 09:43] ajgpitch commented on #43
Reported as sphinx-doc/sphinx#3315

[2017-01-08 11:08] ajgpitch commented on #43
Update from sphinx people:
This should fix the issue. Add these lines at the end of your file latex_output_files/latex_preamble.tex:
[code]

[2017-01-08 11:09] ajgpitch commented on #43
However, I think that the 'manual' format looks better

[2017-01-08 11:13] ajgpitch opened #44 "Extraneous backslashes in latexpdf ipython output"
There are a lot of backslashes in the place of where `[OUT]` would expected to be seen in the ipython generated latex.
For example:
[code]
(this actually goes on much longer, I just copied a fraction of it)

Does not appear in the HTML output

[2017-01-19 13:23] #43 closed

[2017-03-14 15:37] ajgpitch opened #49 "Instructions for installing on Windows with Python 2.7 / 3.4"
@nonhermitian I am very happy with the idea that we state clearly that we will only offer support for qutip on Windows using Python 3.5+ and Visual Studio as the compiler. However, there are some users who don't have the ~10GB free needed for Visual Studio 2015. I have just been helping such a student here.

I see in the latest version of the installation docs we no longer give any information on

[2017-03-14 16:22] nonhermitian commented on #49
I have no problem with that. However, we should keep the number of
combinations to a minimum.  Py34 is no longer even supported as a conda
branch, so at least that should be dropped.

-P

On Mar 14, 2017 9:37 AM, "Alexander Pitchford" <notifications@github.com>
wrote:

[2017-03-14 16:30] ajgpitch commented on #49
Ok. Yes, I see now that conda-forge is not creating any py34 packages. Thanks for spotting that.
I will update the instructions then to describe how to install for py27

[2017-10-04 17:59] Phyks opened #54 "Undocumented Floquet functions"
Hi,

It seems some of the functions in the `qutip.floquet` module are not documented in the doc. For instance, for `qutip.floquet.floquet_master_equation_rates`, [there is no found documentation](http://qutip.org/docs/4.1/search.html?q=floquet_master_equation_rates&check_keywords=yes&area=default).

Not sure if this is on purpose or not, especially since [these functions should have a valid docstr

[2017-12-17 16:45] webstersc opened #56 "Quantum optimal control section missing references"
The documentation for quantum optimal control has numerous numbered references within the text, however there is no bibliography detailing what papers are being referenced.

[2018-01-15 17:32] ajgpitch commented on #56
I see the bibliography just fine in
http://nbviewer.jupyter.org/github/qutip/qutip-notebooks/blob/master/examples/optimal-control-overview.ipynb
. @webstersc do you want to send me the link you are referring to?

[2018-01-15 19:42] webstersc commented on #56
I'm looking in the documentation on the qutip site: [http://qutip.org/docs/latest/guide/guide-control.html](http://qutip.org/docs/latest/guide/guide-control.html)

It looks like the html documentation is based on an earlier version of the notebook you posted a link to.

[2018-01-16 11:38] ajgpitch commented on #56
Yes, I see what you mean. Looks like I need to add the control refs to the main bibliography and link.
There are a few other little issues too (missing images etc)
I'll tidy it up.
Thanks for pointing this out

[2018-01-17 16:03] ajgpitch commented on #56
I have now fixed the citation links, and added the image links.
@webstersc  Thanks again for notifying us about this

[2018-01-17 16:03] #56 closed

[2018-03-19 16:48] ajgpitch opened #58 "Document Models - PIQS"
@nathanshammah @sahmed95
Documentation is required for Models and specifically PIQS

Does not need a lot. Can just copy some stuff from the intro notebook
Also the module needs linking for the API docs

[2018-03-20 09:44] nathanshammah commented on #58
We can also integrate the information of the introductory notebook by
including info found in the readme of https://github.com/nathanshammah/piqs
@sahmed95 can you take care of this and of the linking for the API docs
(when you get the opportunity)?

2018-03-20 1:48 GMT+09:00 Alexander Pitchford <notifications@github.com>:

[2019-01-05 03:57] joseraulgonzalez opened #62 "Cannot build documentation"
Hi,

After installing the required dependencies and cloning the repo, I issued the following command:
[code]
and got the following error:
[code]
What am I doing wrong? Can anyone help me fix this please? Thanks!

[2019-02-25 02:25] ajgpitch commented on #58
@nathanshammah @quantshah We did have documentation from Ben for the scattering, so we really should have made a new build and published. Are you able to do a little something for piqs?

[2019-02-25 16:52] quantshah opened #63 "Update the API visualisation tree"
The beautiful tree-diagram of the user accessible functions and classes have not been updated for a long time. I am trying to understand how it is visualized using D3.js and possibly writing an automated script to update it with new documentation. For now, I would suggestion removing it from the documentation and it is outdated.

http://qutip.org/docs/latest/guide/guide-overview.html#figure-qutip-

[2019-02-25 19:05] quantshah opened #64 "Ipython directive breaks for functions"
The sphinx Ipython directive parser breaks for functions. See https://github.com/ipython/ipython/issues/11362

This breaks our documentation build as the code blocks in [qutip-doc/guide/dynamics/dynamics-bloch-redfield.rst](https://github.com/qutip/qutip-doc/blob/master/guide/dynamics/dynamics-bloch-redfield.rst) define some functions which cannot be produced by the Ipython directive. I spent a lo

[2019-02-26 06:00] ajgpitch commented on #63
Seems like a good suggestion. @nathanshammah and I are trying to get a v4.3 of docs out, so we will remove it from that. Hopefully we can get it back in by v4.4

[2019-02-26 06:13] ajgpitch commented on #64
The IPython stuff has caused me lots of headaches when building the docs. I would be happy to see the IPython requirement go altogether, if that is possible, if we think it is going to be more reliable.

Things to consider:
1. A lot of our output is plots - are these going to work?
2. Some may think the output less pretty, maybe we don't get the syntax highlighting?

Perhaps a good start would be

[2019-02-26 15:35] nathanshammah commented on #58
#65

[2019-02-26 15:35] #58 closed

[2019-02-26 15:36] nathanshammah commented on #63
#65

[2019-02-26 15:36] #63 closed

[2019-02-26 15:43] nathanshammah commented on #62
It seems it might be an issue of Matplotlib, see [#914](https://github.com/sphinx-doc/sphinx/issues/914), and not of Sphinx.
Try a `conda update matplotlib` (or your package manager of choice).

[2019-02-26 15:57] nathanshammah commented on #54
Thank you. Investigating.

[2019-02-26 16:06] quantshah opened #66 "Remove matplotlib.sphinxext.only_directives"
Matplotlib removed the sphinx directives and they are a part of Ipython now. See [issue](https://github.com/matplotlib/matplotlib/pull/428). So anyone on the latest Sphinx will face an error when trying to build the documentation.

This was also faced in #62. I have a version of the docs built from scratch with the latest sphinx which should fix this. Just thinking of the best way to deal with fig

[2019-02-26 16:11] nathanshammah commented on #25
Thank you. It seems that `wigner_cmap` has been moved from `visualization` to `matplotlib_utilities`. We could fix the way this is called in the User Guide and see how to include this in the API.

[2019-02-26 16:13] #26 closed

[2019-02-26 16:14] #28 closed

[2019-02-27 04:36] ajgpitch commented on #62
Perhaps it is not clear, but qutip and all its dependencies (inc
matplotlib) are also required. I will update the readme.

On Sat, 5 Jan 2019 at 12:57, yosefrajwulf <notifications@github.com> wrote:

[2019-02-27 04:41] ajgpitch commented on #62
@joseraulgonzalez apologies. It seems there is an issue #66.
@nathanshammah and I were building just yesterday. Nathan, could you share the sphinx version pls

[2019-02-27 06:07] ajgpitch commented on #62
Nathan and I have spent some time trying to build the docs in various envs. We have success with
python=3.6
matplotlib=2.2.3
sphinx=1.7.9
ipython=6.5

We get some error whenever we use Python 3.7, even with same package versions above.
A bit mysterious.
@nathanshammah will please put up the error get.
So I guess we should focus on the proper fix #66

[2019-02-27 07:29] nathanshammah commented on #62
[code]

[2019-02-27 07:38] nathanshammah commented on #62
There might be two issues however. One is accounted above (Python 3.7).

Another error occurs by simply upgrading to Matplotlib 3.0.2 even in the Python 3.6 environment.

[code]

[2019-02-27 07:39] ajgpitch commented on #49
Done

[2019-02-27 07:39] #49 closed

[2019-02-27 08:19] ajgpitch opened #67 "ENH: Auto-generate qutip function tree"
@quantshah spotted that the function visualisation tree was out-of-date in #63. Thanks for that.
@nathanshammah and I spent some time updating it yesterday, but was quite a rigmarole, and the solution  is sub-optimal:
1. Update modules and functions in `QuTiP_tree_plot/qutip-structure.py`
2. Run `QuTiP_tree_plot/qutip-structure.py`, which updates `QuTiP_tree_plot/d3_data/qutip.json`
3.a. Open `QuT

[2019-02-27 08:20] ajgpitch commented on #67
@nathanshammah could you add a link to where the tree builder code came from please

[2019-02-27 08:32] nathanshammah commented on #67
These d3 dendrograms have a similar in layout:
- [circle cluster](https://bl.ocks.org/mbostock/4339607)
- [cluster on Github](https://github.com/d3/d3-hierarchy/blob/master/README.md#cluster)

[2019-03-04 10:54] Siddhant9868 commented on #67
I would like to try to build the solution for this.

**Task 1:** For chrome, the error seems to be due to the CORS (Cross-origin Resource Sharing) policy of google chrome.
`Access to XMLHttpRequest at 'file:///C:/Users/Sid/Desktop/qutip-doc/QuTiP_tree_plot/d3_data/qutip.json' from origin 'null' has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, da

[2019-03-04 11:34] nathanshammah commented on #54
PR #68 addresses this. Should be reflected from QuTiP 4.4.

[2019-03-04 11:50] nathanshammah commented on #29
In API doc, the `nonmarkov` classes and functions are present.
API doc > Functions:
- ttmsolve

API doc > Classes:
- HEOMSolver
- HSolverDL
- MemoryCascade
- TTMSolverOptions
Will ask Neill and @quantshah if they have some tutorials and can add some information on the User Guide in the future as they might be working on this and an extension.

[2019-03-04 11:50] #29 closed

[2019-03-05 18:19] quantshah commented on #67
@Siddhant9868 Hi, thanks for looking into this. We want to essentially parse the whole project and generate the names of all the functions and classes. This could also be done directly by running a parser on the qutip folder using ideas similar to

https://stackoverflow.com/questions/15256509/parsing-class-and-function-dependencies-from-a-project

In this case, `sphinx-apidoc -o <output dir> <code

[2019-03-05 18:21] quantshah commented on #67
Also, I like the second visualization which is linear and not circular. It helps to clearly see different submodules. So, if you are trying this then start with that.

[2019-03-19 14:51] ajgpitch commented on #54
Resolved by #68

[2019-03-19 14:51] #54 closed

[2019-03-19 15:05] ajgpitch commented on #67
@quantshah do we really want a graphic to show all classes and functions? Do we not think that maybe a lot of functions get created that are not necessarily intended for users of the library. Not in all cases do we name then as using the leading underscore for internal convention. I am open to persuasion on this. Clearly there are also issues with us forgetting to update `functions.rst`.

[2019-03-28 11:10] nathanshammah opened #71 "ENH: Hyperlinks to QuTiP functions and classes"
It would be nice the docstrings in QuTiP well formatted such that, when Sphinx builds the API and guidelines documentation, there are working link to QuTiP functions and classes. An example of working link is `qutip.steadystate.steadystate` in
http://qutip.org/docs/latest/guide/guide-steady.html#steady-state-solvers-in-qutip

An example of working link in the API doc is options: `qutip.solver.Opti

[2019-03-28 13:27] nathanshammah opened #72 "ENH: Ensure PEP8 style guidelines are applied in docstrings"
The formatting of several .py files in qutip/qutip could be improved according to [PEP8](https://www.python.org/dev/peps/pep-0008/) and appropriate guidelines. An example in
[qutip/piqs.py](https://github.com/qutip/qutip/blob/master/qutip/piqs.py) is given by

[code]
that can be changed to introduce spaces after the :
[code]

These changes would affect the documentation upon build, but need to be

[2019-03-28 13:36] nathanshammah opened #73 "ENH: Consider using intersphinx"
The documentation could be built with [Intersphinx](https://www.sphinx-doc.org/en/1.7/ext/intersphinx.html#module-sphinx.ext.intersphinx) to cross-reference other projects' objects such as functions or classes.

[2019-04-06 16:59] bdmj12 commented on #71
Do you have any examples of links that currently aren't working, or places where they could be added?

[2019-04-06 17:09] nathanshammah commented on #71
An example is in the [`Dicke` class](http://qutip.org/docs/latest/apidoc/classes.html#permutational-invariance) of PIQS, the permutational invariant solver. The docstring says
[code]
Ideally, the hamiltonian specification as `:class: qutip.Qobj` should be a hyperlink. Formatting it correctly with :: and the correct spaces should make it work.

Another example is in the docstring of the [`basis()`,

[2019-04-07 11:34] nathanshammah opened #74 "qutip badge on read the docs failing"
QuTiP's read-the-docs badge, which should tell if the documentation is building correctly, says it is [failing](https://readthedocs.org/projects/qutip/). This could be related also to the way qutip's documentation is built, not from `qutip/qutip`, but from `qutip/qutip-doc`.

[2019-04-16 02:13] nathanshammah opened #75 "ENH: Interactive graphics in tutorials with Bokeh"
It could be nice to try interactive graphics using [Bokeh](https://bokeh.pydata.org/en/latest/) and QuTiP. I am not familiar with the tool, [this](https://github.com/bokeh/bokeh-notebooks) could be a starting point.
These notebooks could be added to the QuTiP website at [qutip.org/tutorials](http://qutip.org/tutorials).
Maybe a first step could be to start from existing one of the beautiful notebo

[2019-05-31 02:58] nathanshammah opened #78 "ENH: Add gallery of contents with `sphinx-gallery`"
It could be nice to highlight also graphically the contents of the documentation and/or tutorials, using [`sphinx-gallery`](https://github.com/sphinx-gallery/sphinx-gallery). This could even be added to the website, as it is the case for https://scikit-learn.org, I think.

[2019-05-31 03:28] nathanshammah commented on #32
I think @nwlambert and I can help with this.
We could add some details in the Users Guide:
1) make a short `dynamics-reaction-coordinate.rst` file and place it in  `guide/dynamics/`;
2) link that file to the list of dynamical solvers in  `dynamics.rst`  inside `qutip-doc/guide/`;
3) add rcsolve to the list of methods cited in `apidoc/functions.rst` (unless that is not self-generated); maybe this e

[2019-05-31 04:11] nathanshammah commented on #30
Probably I can help out on this (cc @nwlambert and @quantshah as I am not very knowledgeable about the theory). Similar path to #32 and #27.

[2019-06-27 21:02] Ericgig opened #82 "Problem buliding for 4.4"
Working in my branch:https://github.com/Ericgig/qutip-doc/tree/build4.4
I have problem building the doc.
Main errors
RuntimeError: Non Expected exception in `qutip-doc/guide/guide-states.rst` line 615
and
`qutip-doc/guide/guide-visualization.rst` line 331
Any help appreciated.
ps. matplotlib 2.3, scipy 1.2, recent version don't work.
patch for scipy 1.3 comming.

[2019-06-28 17:33] #82 closed

[2019-07-12 13:39] #74 closed

[2019-07-12 13:40] #25 closed

[2019-07-19 08:13] joseraulgonzalez commented on #66
What did you modify in your version of the docs to make the process work with Python 3.7.x and the latest version of sphinx?

[2019-07-20 11:07] quantshah commented on #66
Hi, @joseraulgonzalez , I made a PR which should run with the following configurations: https://github.com/qutip/qutip-doc/pull/84

I still need to fix a couple of things about replacing the ipython directive with some kind of sphinx directive that runs the examples and renders plots. But this should get you working.

If you want to checkout the PR locally and build things then you can do so using

[2019-09-04 01:04] SamWolski opened #86 "Duplicate entry for 'Monte Carlo Solver' in html doc sidebar"
![Screen Shot 2019-09-04 at 10 00 43](https://user-images.githubusercontent.com/22050575/64218017-de67c800-cefa-11e9-86ca-3ee5b76af71c.png)

As can be seen in the image, there is a duplicate entry for 'Monte Carlo Solver' in the sidebar of the html documentation. It appears on different browsers and operating systems, so I believe it to be a misconfiguration in the docs themselves.

I'm happy to w

[2019-10-04 03:04] nathanshammah opened #88 "Broken links to source code in API documentation 4.4 due to underscore(_)"
In the latest documentation build, 4.4, the links to source code in the [API documentation](http://qutip.org/docs/latest/apidoc/apidoc.html) do not work.
An example is the `Qobj` [source] link [in this page](http://qutip.org/docs/latest/apidoc/classes.html#qobj) that takes to this broken link, http://qutip.org/docs/latest/_modules/qutip/qobj.html#Qobj.
The link is broken because it takes to `lates

[2019-10-22 15:36] salelder opened #90 "Missing documentation for x,y convention in qutip.wigner"
The documentation for qutip.wigner says the following about the output:

`W (array) – Values representing the Wigner function calculated over the specified range [xvec,yvec].`

However, it does not specify the axis order. I think that `W[j,k]` corresponds to the point `xs[k], ys[j]`.

Is this correct? If so, can it be added to the documentation?

[2020-01-04 17:59] Hosseinyeganeh opened #93 "Update qutip"
Hi
I can't update qutip to last version
What I do?

[2020-01-13 02:41] jkochNU opened #94 "broken API documentation?"
It looks like the latest API documentation has a problem (unless this is a display problem on my end only - in which case I must apologize).

**Example**: looking at http://qutip.org/docs/latest/apidoc/classes.html#qobj , what I see as the first two Parameters of Qobj is:
`inptarray_like`
`dimslist`

I suspect this should be `inpt: array_like` and `dims: list`
Is this an issue related to the space

[2020-01-14 16:09] nathanshammah commented on #94
As you spotted, it seems related to having a space before and after the : as in [here](http://qutip.org/docs/latest/apidoc/classes.html#permutational-invariance).

The two spaces should be a PEP style directive, and seems used also by other libraries, see NumPy [here](https://numpy.org/doc/1.17/reference/generated/numpy.dtype.html#numpy.dtype).

It would be great to find what's messing with this.

[2020-01-14 16:12] nathanshammah commented on #93
We need more information on your machine, sotware details, in order to help out. You can join the forum [here](https://groups.google.com/forum/#!forum/qutip) for troubleshooting.

[2020-01-14 16:12] #93 closed

[2020-01-14 16:12] nathanshammah commented on #88
While this has been fixed "by hand" by @tehruhn, a fix for the future releases is needed.

[2020-01-14 16:16] nathanshammah commented on #86
Dear @SamWolski, thank you for spotting this; catching up with this only now. It is very simple: could you remove the repeated line in [`guide-dynamics.rst`](https://github.com/qutip/qutip-doc/blob/master/guide/guide-dynamics.rst)?

[2020-01-14 16:42] Hosseinyeganeh commented on #93
you can say about command that used for updated?

[2020-01-14 16:48] nathanshammah commented on #93
yes (conda install qutip, or pip install qutip, etc..), and what machine you have (Linux, Mac, Windows), what qutip version, and what error message. Also, more details on the other software versions on your machine.

[2020-01-14 17:17] Hosseinyeganeh commented on #93
Thanks  I fixed

[2020-01-14 21:36] jkochNU commented on #94
I suspect the problem might originate from sphinx_rtd_theme. If I remove `html_theme = "sphinx_rtd_theme"`  in conf.py and build using just the default sphinx theme, then results look as expected (when including the space before the colon).

[2020-01-15 00:58] jkochNU commented on #94
Found this thread on the github for sphinx_rtd_theme:  https://github.com/readthedocs/sphinx_rtd_theme/issues/750
There, blame was being put on incompatibilities between the rtd theme and Sphinx 2, if I understand correctly.

[2020-01-15 03:35] jkochNU commented on #94
Helpful thread on the numpydoc github, in particular this comment: https://github.com/numpy/numpydoc/issues/215#issuecomment-529037079

For me, adding
[code]
to custom.css solves the problem.

[2020-01-23 08:02] SamWolski commented on #86
No worries, I'm on it. Expect a PR soon.

[2020-01-23 08:50] #86 closed

[2020-01-29 16:11] nathanshammah opened #98 "Add markers for labels in release_distribution"
@ajgpitch created a great recipe file for maintainers making a new qutip release. Some nice labels are given at the beginning of the file but the anchors are not found in the rst file, such as #sdist
in https://github.com/qutip/qutip-doc/blob/master/release_distribution.rst#sdist

[2020-01-31 10:03] nathanshammah opened #99 "Automate or simplify documentation release"
# Change log
Right now, maintainers need to go through the PRs in `qutip/qutip` to update the changelog. This is quite time consuming.

There may be automated tools to generate the change log.

I propose at minimum to keep a changelog file also in `qutip/qutip`, asking contributors to update it before merging the PR. This makes it simpler than for them to open another PR to `qutip/qutip-doc`.

# C

[2020-01-31 14:38] nathanshammah opened #103 "Ipython error while building the documentation"
The documentation can be built according to the Readme.

For 4.5.0, `make html` fails due to problems in Ipython.

It picks up some issues in guide-visualization after line 399.

It seems that IPython has become more strict.
https://github.com/pandas-dev/pandas/issues/23257

This seems a possible fix:
https://github.com/ipython/ipython/pull/11402#issuecomment-430089318

[2020-01-31 14:44] nathanshammah opened #104 "Building the documentation guide, dynamics-monte takes minutes"
Building the documentation guide, dynamics-monte takes minutes
[code]
as well parfor

[2020-01-31 15:08] nathanshammah commented on #103
I could build the html only by changing these last ipython instances in the guide-visualization to ticks ``like this``:

Implementation in QuTiP
-----------------------

In QuTiP, the procedure described above is implemented in the function :func:`qutip.tomography.qpt`, which returns the :math:`\chi` matrix given a density matrix propagator. To illustrate how to use this function, let's consider t

[2020-03-27 04:52] 0kd commented on #75
Hi, I made some of the graphs in Wigner functions gallery interactive using plotly because bokeh doesn't support 3D surface plot natively. You can drag and move the graph.

![スクリーンショット 2020-03-27 13 44 11](https://user-images.githubusercontent.com/39905164/77722548-5df0ec00-7031-11ea-860d-bffc5521e063.png)

Nbviewer:

https://nbviewer.jupyter.org/github/0kd/uploader2/blob/master/test2.ipynb

https

[2020-04-08 16:35] araza6 opened #110 "Documentation of controlled_gate() should also mention anti-control capability"
http://qutip.org/docs/3.1.0/apidoc/functions.html#qutip.qip.gates.controlled_gate
The documentation of `controlled_gate()` in the link above only mentions the control operations that one can do. However, this can also implement anti-control operations if `control_value` is set to 0.

I think it should be documented too for ease of use. What do you all think?

[2020-04-25 15:22] nathanshammah commented on #73
This is something I can do or help someone with guidance. We simply need to do the following:
-  add intersphinx as extension in the `conf.py` file
- find the functions / objects we use from other libraries and add to `conf.py` such libraries
-
The `krotov` library by @goerz shows how to do it, see [here](https://github.com/qucontrol/krotov/blob/0e8a4dbe81bd3986dbc5c4464d49131727fd57ef/docs/conf.p

[2020-04-25 17:26] goerz commented on #73
To elaborate a little on the syntax: There's two prefixes (which can also be combined), `.` and `~`. (There's also `!`, but I don't know when you'd ever use that one.)

The `~` cuts down the name in the *output* to the last component. That is, if you write a reference using the fully qualified name `` :class:`~qiskit.QuantumCircuit` `` it will show up in the rendered HTML as "QuantumCircuit" (with

[2020-04-25 18:22] nathanshammah opened #111 "Change contributing file name to CONTRIBUTING.md"
Change from qutip_dev_contrib.md to CONTRIBUTING.md to appear in the GH [community profile](https://github.com/qutip/qutip/community), as apparently standard.  Would need to change the file name and instances where it occurs (search for `qutip_dev_contrib` in Github).

[2020-05-11 11:01] nathanshammah commented on #67
This is a good task in case QuTiP is accepted in GSoD!

[2020-05-11 19:28] nathanshammah commented on #67
Ok some things I noticed by playing with it:
- make sure the location of the `qutip/qutip` folder is as expected (`../../qutip/qutip`)
- I also understood what the second for loop in `qutip-structure.py` does: its looks in directories, and hence the fact that only `nonmarkov` is there, is the reason why stuff like `qip` is not rendered.
- Adding a readme.txt or .md and commenting the .py file woul

[2020-05-15 17:17] nathanshammah commented on #67
@Siddhant9868, can you open a PR on the fix on the visualization? Thanks!

[2020-05-20 09:43] Alexios-xi commented on #111
@nathanshammah  I have opened this [PR](https://github.com/qutip/qutip/pull/1270) which will fix all the occurances of qutip_dev_contrib to CONTRIBUTING.md in the main branch of qutip.

[2020-05-21 18:58] nathanshammah commented on #111
Closed by #112.

[2020-05-21 18:58] #111 closed

[2020-05-21 19:00] nathanshammah commented on #78
This has been partly implemented by @BoxiLi, with regards to the `qip` package, see [here](http://qutip.org/docs/latest/gallery/qutip_examples/index.html#). It would be great to build upon Boxi's work and present the results also for the rest of the docs. So I'll keep this open.

[2020-05-26 13:22] nathanshammah opened #115 "Add sphinx-doctest"
Using `sphinx-doctest` allows to test the examples in rst. The `doctest` directive for interactive code blocks allows to test examples. For static blocks this can be done with `testcode` (matched by `testoutput` and eventually with the ghost block `testsetup`).

[2020-05-26 13:23] nathanshammah opened #116 "Add sphinx-button extension"
This extension simplifies copying code blocks from examples in rst files then hosted on html page.

[2020-06-12 23:25] Alexios-xi commented on #73
@nathanshammah Is there any file where all the external Functions used in Qutip have been stored, I have already covered the requirements of Qutip installation and matplotlib.

[2020-07-31 16:14] denisvion opened #119 "Bug in function spectrum_correlation_fft or wrong documentation"
Is'nt there a bug in spectrum_correlation_fft ?
The documentation of the function does not specifiy whether one should use symetrized correlations functions at both positive and negative times or only positive times.
But the documentation gives an example with positive times only.
The code below show that in this case, the spectrum of an exponentially decaying correlation function is not Lorentzia

[2020-08-07 05:57] sarsid commented on #115
@nathanshammah, I am working on this now, will add a pr soon.

[2020-08-18 20:28] sarsid commented on #104
In doctest, we can add an option which builds this only conditionally. This is already the case right now for parfor. It can be configured before building in conf.py.

[2020-10-11 04:38] imvetri opened #121 "Documentation tutorial - fluid simulator based on qutip"
Suggestion to add tutorial to build a fluid simulator based on quantum physics. It would a good exercise for learners.

[2020-10-12 08:57] nathanshammah commented on #121
I am not sure what is the topic of interest here, i.e. what fluid simulator would be based on quantum physics. As far as I am aware, this kind of physical study is not within the reach or scope of QuTiP. In order to observe a fluid-like dynamics, one would need spatial description and viscosity. QuTiP's main machinery is focused on Hilbert (Liouvillian)-space formalism and Fock states. I don't see

[2020-10-13 04:44] imvetri commented on #121
Here is a dancing droplet experiment and this behaviour of fluids opens up lot of possibilities to alternative models to artificial neural networks.

https://github.com/imvetri/artificial-intelligence/blob/master/dancinf.droplets.gif

I was hoping to simulate this behaviour of fluids based on quantum physics instead of conventional fluids model that tries to express in terms of viscosity.

I initi

[2020-10-14 08:25] nathanshammah commented on #121
In that sense, the probability density of a wavefunction is an example of a fluid I guess.

The quantum counterpart I can imagine of is a wave function that gets into a multiple-square well 1D potential and where quantum tunneling allows it to go through barriers that are higher than its energy.

[2020-10-18 14:20] nathanshammah opened #122 "Add a list of libraries using qutip and qutip plugins"
There are several libraries that rely on QuTiP for quantum physics or quantum information processing. Examples include [Krotov](https://github.com/qucontrol/krotov), [Matsubara](https://github.com/pyquantum/matsubara/tree/v0.1.4) and [PyEPR](https://github.com/zlatko-minev/pyEPR/tree/master/pyEPR). It would be nice to have a place in the documentation (and on the qutip website, possibly even beyon

[2020-10-26 13:46] tgag17 commented on #122
Hey! I am new to QuTiP and would like to contribute to this enhancement.

[2020-10-26 13:53] nathanshammah commented on #122
thanks a lot. please feel free to open a pull request. we'd need to edit one of the .rst files. as mentioned in the issue, some libraries could be picked up from the github 'Used by' tool. Others include:
- scqubits
- matsubara
-pyepr
- krotov
- https://github.com/Tomographer/tomographer/

[2020-10-28 07:07] tgag17 commented on #122
I think the libraries should be added after the About QuTiP subsection under the Frontmatter section. Any suggestions?

[2020-10-28 18:52] nathanshammah commented on #122
Good idea. After "About QuTiP".

[2020-11-25 15:08] nwlambert commented on #119
Sorry for the slow reply...  Yes, spectrum_correlation_fft  just does the one-sided FFT, but then takes 2*Real() part of the result, which should give the correct Lorentzian behavior.

As for the large difference in the tails in your result, I think its an issue of the sensitivity of the FFT to the number of points in the taus list.  if you increase it by a factor of 100 or so  and also multiply s

[2020-12-01 09:11] #122 closed

[2021-02-18 08:40] #64 closed

[2021-02-25 05:55] Anantha-Rao12 commented on #72
Hi @nathanshammah! This seems to be a pretty simple issue. If you don't mind, can I work on this?
On some preliminary searches, I found that there are 65 .py files in [qutip/qutip](https://github.com/qutip/qutip), each having some PEP8 formatting issues. How do you suggest I go about formatting them and submitting a pull request?

[2021-02-25 22:44] iAditya09 opened #128 "Incomplete documentation in Solving Problems with Time-dependent Hamiltonians page"
[http://qutip.org/docs/latest/guide/dynamics/dynamics-time.html](url)

Under section Accessing the state from solver, it says the state of the system can be obtained using args for the time dependent Hamiltonian, but I couldn't figure out what that key was to use the state of system in the time dependent Hamiltonian , an example would be good.

![qutipIssue](https://user-images.githubusercontent.c

[2021-02-26 00:13] iAditya09 commented on #128
@Ericgig

[2021-02-26 14:42] Ericgig commented on #128
You're right, the table listing the keyword does not show up in the final documentation and they are not up-to-date...
You can find the keywords in QobjEvo's Docstring: `help(qutip.QobjEvo)`.

[2021-02-27 02:30] iAditya09 commented on #128
@Ericgig thanks! found the keywords. I am having some issue with the state being returned though and I am unsure how to work around them. I basically want to calculate expect(Oper, args["state"]) which gives me a dimension mismatch, if I try doing (Oper*args["state"]).tr() to find the expectation value, it tells me there is a shape mismatch. I initially start with Oper and psi0 shape as (8,8) but

[2021-02-27 14:56] Ericgig commented on #128
In the latest version, the `Qobj` should be reshaped to (8,8)...
Could you send me your `mesolve` call and qutip version.

In your case, my guess is that you have `oper` not a super operator but state as a vector dm.
You could change `oper` with `oper = qutip.spre(oper)` then `expect(Oper, args["state"]) ` should work.

Or you could reshape the state to `(8,8)` with `vector_to_operator(state)`. Th

[2021-04-08 23:49] jakelishman commented on #103
Closed by #120

[2021-04-08 23:49] #103 closed

[2021-04-10 21:13] jakelishman commented on #94
This is related to a `sphinx_rtd_theme`/`docutils==0.17` incompatibility.  The solution is to force version `sphinx_rtd_theme>=0.5.2` (currently only on `pip`, not `conda`), which correctly handles the dependency.  This will be fixed in the 4.6 release.

[2021-04-10 21:13] jakelishman commented on #115
Done in #120

[2021-04-10 21:13] #115 closed

[2021-04-10 21:18] jakelishman commented on #66
Fixed in #81

[2021-04-10 21:18] #66 closed

[2021-04-10 21:18] jakelishman commented on #62
Fixed in #81.

[2021-04-10 21:18] #62 closed

[2021-04-10 21:20] jakelishman commented on #44
Fixed by #120

[2021-04-10 21:20] #44 closed

[2021-04-11 19:45] #98 closed

[2021-04-12 15:25] jakelishman commented on #94
This is now fixed in the released 4.6.0 documentation release.  When we've got slightly easier methods for deploying the documentation to the website it'll be easier to "backport" fixes to previous releases, but right now our method isn't ideal so I'll leave the older versions as-is.

[2021-04-12 15:25] #94 closed

[2021-04-16 02:22] purva-thakre opened #138 "Building docs locally ?"
How should I build docs locally ?

I am making changes to docstrongs in `qutip/qutip` and I want to test the build. For this, I have a clone of `qutip/qutip` folder but the `makefile` is in `qutip-doc`. Should I clone `qutip-doc` in the local folder of `qutip/qutip` ?

[2021-04-16 02:24] purva-thakre commented on #138
Closing this issue because I did not look in the right directory. Found the needed information [here](https://github.com/qutip/qutip-doc/blob/master/CONTRIBUTING.md#forking-and-cloning-repositories).

[2021-04-16 06:46] purva-thakre commented on #138
Reopening because I did not figure this out as I initially thought.

I want to run `make html` from `qutip/qutip-doc` in order to verify changes in API Doc when I make edits in `qutip/qutip`. Locally, I have a branch created from `qutip/qutip`. I cannot run `make html` from this branch because `make` instructions are in another repo but in the same directory.

I found one method to go about this b

[2021-04-16 07:08] BoxiLi commented on #138
Currently, you should install qutip using development mode `python setup.py develop` (http://qutip.org/docs/latest/installation.html#direct-setuptools-source-builds). Then go to the qutip-doc repo and use `make html` under the doc repo. It will build the docs using the qutip installed, including your change.

In the future, we plan to move docs to the main qutip repo, which will allow CI tests for

[2021-04-16 08:37] purva-thakre commented on #138
Yes, I do have the development mode installed. I had issues using `make html` because it kept on using `master` from `qutip/qutip` instead of `qutip/some_branch` for the build. This made me think that I should checkout `qutip/some_branch` in docs repo and then run make commands which led me to above links.

Guess I'll try `[make clean html](https://www.sphinx-doc.org/en/master/internals/contributi

[2021-04-16 08:52] BoxiLi commented on #138
That's strange, if you checked out `qutip/some_branch` in the qutip repo, then `make html` should use that branch. I don't use Atom myself so I'm not sure about cache. I view the `html` files on Chrome and the only thing I need to do is refresh the page. Indeed try `make clean` first.

[2021-04-16 15:56] purva-thakre commented on #138
Closing because the issue was related to Atom editor.

[2021-04-16 15:56] #138 closed

[2021-04-19 22:29] purva-thakre opened #140 "Pin Sphinx version exactly for build depending on Python version"
[At this link](https://github.com/qutip/qutip-doc#build-requirements), a line is given to install doc build dependencies. The problem is that it installs the latest version of Sphinx which has an issue with missing colon when documentation is built.

When I build documentation locally, the colon in the screenshot after `inpt` below does not appear.
![image](https://user-images.githubusercontent.co

[2021-04-19 22:41] jakelishman commented on #140
`needs_sphinx` is a minimal version, it's fine to use higher versions.  I used Sphinx 3.5.3 on Python 3.8 to build the 4.6 documentation that's [live on the website right now](http://qutip.org/docs/latest/apidoc/classes.html#qobj).  That has the colon you're talking about.  As I understand it, it's not a Sphinx issue, it's a `sphinx-rtd-theme` issue, which also seems backed up by your links.

I us

[2021-04-19 23:03] jakelishman commented on #140
That said, of course you're right that the documentation build guide is very out-of-date.  I'll just test a basic config and then dump a `requirements.txt` file and updated instructions into the readme to make it a bit more reproducible.

[2021-04-19 23:10] purva-thakre commented on #140
I think my issue could also have been caused by installing an older version of `sphinx-rtd-theme`. Compared to your version, mine is an older version. I installed it using conda and it appears to not have been [updated for a while](https://anaconda.org/anaconda/sphinx_rtd_theme).

[2021-04-19 23:20] purva-thakre commented on #140
@jakelishman Closing this because it was indeed an issue of older version of `sphinx-rtd-theme` due to `conda install sphinx-rtd-theme`. The recommended way to install it is [via pip and not conda](https://github.com/readthedocs/sphinx_rtd_theme#installation). The build guide will need to be updated accordingly.

[2021-04-19 23:20] #140 closed

[2021-04-27 22:06] jakelishman opened #145 "Built HTML documentation is 50MB"
Currently, running `make html` produces a `_build/html` directory that is 50MB large.  This causes problems with the qutip/qutip.github.io repository, because currently part of our deployment process involves copying this directory in a new folder in this repo every time we do a minor release.  The `docs` folder of the website is already 239MB (and `downloads` is another `154M`, but that's a separ

[2021-04-28 14:02] #121 closed

[2021-04-28 14:11] jakelishman commented on #67
Oh, I didn't see that this issue existed.  I was able to rebuild the image for 4.6 without the pain being _too_ excruciating, but it was a very manual process.

In #137 I completely rewrote the `qutip-structure.py` file to map out arbitrary Python packages by importing it (not ideal if you're running it on untrusted code, but I assume we trust `qutip`!) and recursing through every known name and r

[2021-04-29 08:49] jakelishman opened #146 "Documentation build does not produce equal output on repeat runs"
If you run the documentation build twice, you will get several megabytes of diff between the two runs.  This is a problem for us deploying to the website, because our website is managed in a git repository, and updates to large binary files need to persist in the `.git` directory forever.  Our `.git` directory for qutip.github.io is getting huge as it is (257MB on my machine right now), and it get